@charset "UTF-8";

:root{
<<<<<<< HEAD
    --primary:#eeb171;
    --primary-ligth:#e4b685b0;
    
    --secundary:#E08D4F;
    --secundary-light:#F59C6C;

    --tertiary:#FA7E62;
=======
    --primary:#FAB162;
    
    --secundary:#E08D4F;
    --secundary-light:#F59C6C;

    --tertiary:#FA7E62;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    padding: 50px;
    background-image:linear-gradient( var(--secundary-light, --secundary));
    box-shadow: rgba(128, 128, 128, 0.527);
    border-radius: 10%;
>>>>>>> cfa4e6aa254e4c5c83f2d9d9e29c2d2fe0e479c3
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav {
    text-align: center;
    padding-bottom: 20px;

}

nav a{
    text-decoration: none;
    color: red;
    font-weight: bolder;

    padding: 10px;
}

nav a:hover{
    color: black;
    background-color: var(--tertiary);
    border-radius: 20%;
}

body{
    display: block;
    background-color: var(--primary-ligth);

    text-align: center;

    position: absolute;
    
}


main{

    padding: 5%;
    background-color: var(--primary);
}

/* ESQUERDO */
/*#ms{
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD

=======
>>>>>>> cfa4e6aa254e4c5c83f2d9d9e29c2d2fe0e479c3
}
.back-princ{
    background-color: hsl(182, 53%, 23%);
    position: relative;
    width: auto;
    height: 505px;
}
.imag-princ-1{
    margin: auto;
    width: 900px;
}


.text-princ {
    position: absolute;
    font-size: 60px;
    width: 1000px;
    left: 1%;
    bottom: 10%;

    color: whitesmoke;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.021);
}
.text-princ:hover {
    font-size: 70px;
    position: absolute;
    bottom: 50px;
}

/* LATERAL */

/*div.lateral{
    position: relative;
    background-color: var(--secundary);
    margin-top: 1%;
    padding-right: 66.9%;

    width: auto;
    height: 200px;
}

.imag-lateral-1{
    padding-top: 5px;
    padding-bottom: -100px;
    width: 360px;
        
    height: auto;    

    position: relative;
}

/*TEXT IMAG LATERAL*/
/*.text-lateral{
    position: relative;
    bottom: 50px;
    left: 10px;
    text-decoration: none;
    
    color: white;
    font-size: 30px;
} 