@charset "UTF-8";

:root{
    --primary:#FAB162;
    
    --secundary:#E08D4F;
    --secundary-light:#F59C6C;

    --tertiary:#FA7E62;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    padding: 50px;
    background-image:linear-gradient( var(--secundary-light, --secundary));
}
nav {
    text-align: center;
    border-right: 10px;
    padding-right: 80px;

}

nav a{
    text-decoration: none;
    color: red;
    font-weight: bolder;

    padding: 10px;
}

nav a:hover{
    color: black;
    background-color: rgb(166, 235, 225);
    border-radius: 20%;
}

body{
    background-color: aliceblue;
    margin: 3%;
}

/* ESQUERDO */
#ms{
    display: flex;
    flex-wrap: wrap;
}
.back-princ{
    background-color: hsl(182, 53%, 23%);
    position: relative;
    width: auto;
    height: 505px;
}
.imag-princ-1{
    margin: auto;
    width: 900px;
}


.text-princ {
    position: absolute;
    font-size: 60px;
    width: 1000px;
    left: 1%;
    bottom: 10%;

    color: whitesmoke;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.021);
}
.text-princ:hover {
    font-size: 70px;
    position: absolute;
    bottom: 50px;
}

/* LATERAL */
.lateral{
    background-color: #1b5059;
    margin-left: 5px;
    width: 500px; 
    position: relative;
}

.imag-lateral-1{
    width: 360px;
    height: auto;
    position: absolute;
}
.text-lateral{
    position: relative;
    bottom: 50px;
}

